/tutorial/.scrapy
*.pyc
*
/acquired.cpp
/acquired2.txt
/caffenet.py
/CMakeLists.txt
/CodePear.cpp
/cubeInterpolation.java
/documentPear.txt
/dynadraw.c
/English.txt
/EveryDay.txt
/everydayAcquired.md
/newAqccuired.txt
/Optimization.md
/Paper_reading.md
/README_old.md
